<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internal Server Error</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="error-container">
      <h2>500 Error - Internal Server Error</h2>
      <p>Something went wrong on our end. Please try again later.</p>
      <a href="/admin-login">Go back to Login</a>
    </div>
  </body>
</html> -->
