<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <button onclick="goBack()" class="back-button">Back</button>

    <div class="welcome-banner">
      <h1>WELCOME TO RETAILSYNC</h1>
    </div>
    <div class="login-container">
      <h2>Customer Login</h2>
      <form
        action="{{ url_for('customer_login') }}"
        method="POST"
        id="login-form"
      >
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Login</button>
      </form>
      <button onclick="goToRegister()" class="register-button">Register</button>
    </div>
    <script>
      function goBack() {
        window.history.back();
      }

      function goToRegister() {
        window.location.href = "{{ url_for('register') }}";
      }
    </script>
  </body>
</html>
